Flow.json
[
    {
        "id": "02a03036a6ad512d",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "759ef3a4d3922ac0",
        "type": "debug",
        "z": "02a03036a6ad512d",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "37fb5e8c78bbc006",
        "type": "serial in",
        "z": "02a03036a6ad512d",
        "name": "",
        "serial": "9619764d34d8b33f",
        "x": 370,
        "y": 680,
        "wires": [
            [
                "759ef3a4d3922ac0",
                "2235b088d6df6fad"
            ]
        ]
    },
    {
        "id": "2235b088d6df6fad",
        "type": "function",
        "z": "02a03036a6ad512d",
        "name": "SQL",
        "func": "let text = String(msg.payload).trim();\n\n// cherche un nombre décimal dans le texte\nlet match = text.match(/[\\d.]+/);\n\nif (!match) {\n    node.warn(\"Valeur invalide reçue: \" + msg.payload);\n    return null;\n}\n\nlet distance = parseFloat(match[0]);\n\nif (isNaN(distance)) {\n    node.warn(\"Valeur invalide reçue: \" + msg.payload);\n    return null;\n}\n\nmsg.topic = \"INSERT INTO mesures (distance_cm, led_count, created_at) VALUES (?, ?, NOW())\";\nmsg.payload = [distance, 0];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 740,
        "wires": [
            [
                "c79f170dc5874970"
            ]
        ]
    },
    {
        "id": "c79f170dc5874970",
        "type": "mysql",
        "z": "02a03036a6ad512d",
        "mydb": "7f8c3983538e0131",
        "name": "",
        "x": 790,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "9619764d34d8b33f",
        "type": "serial-port",
        "name": "ArduinoUno",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "7f8c3983538e0131",
        "type": "MySQLdatabase",
        "name": "test1",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test1",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "37882bedbfa25919",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-node-mysql": "3.0.0"
        }
    }
]
